header{
    align-items: center;
}
h1{
    font-size:xx-large;
    display: flex;
    justify-content: center;
}
    .fotoCentral {
        width: 150px;
        height: 150px;
     }
body {
    font-family: 'IM Fell English', serif;
    background: #000 url("./fondo.jpg") no-repeat fixed;
    background-size: cover;
}

.inicio{
    font-family: "IM Fell English", serif;
    font-size: 20px;
    list-style-type:none ;
    display: flex;
    justify-content: center;
    padding: 10px; 
    color:black ;
}
li{
   
    padding: 5px;
    margin: 10px;
    justify-content: center;
    background-color: azure;
    border-radius: 25px ;
}
.planilla {
    justify-content: center;

}
footer {
    display: flex;
    .desVitto {
        width: 140px;
        height: 204px;
        justify-content: center;
    }
    .desLucho {
        width: 200px;
        height: 200px;
        justify-content: center;
    }
}