body {
    font-family: 'IM Fell English', serif;
    background: #000 url("./fondo.jpg") no-repeat fixed;
    background-size: cover;

}
    .fotoCentral {
        width: 150px;
        height: 150px;
     }

footer {
    .desVitto {
        width: 140px;
        height: 204px;
    }
    .desLucho {
        width: 200px;
        height: 200px;
    }
}